<configuration>
  <packageSources>
    <add key="github" value="https://nuget.pkg.github.com/EbbeMeloSorensen/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="EbbeMeloSorensen" />
      <add key="ClearTextPassword" value="%NUGET_AUTH_TOKEN%" />
    </github>
  </packageSourceCredentials>
</configuration>
