<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Versioning" value="enabled" />
		<add key="Reseeding" value="disabled" />
		<add key="Host" value="localhost" />
		<add key="Port" value="5432" />
		<add key="Database" value="PR" />
		<add key="Schema" value="public" />
		<add key="User" value="root" />
		<add key="Password" value="root" />
		<!--<add key="RepositoryPluginAssembly" value="PR.Persistence.EntityFrameworkCore.InMemory" />-->
		<add key="RepositoryPluginAssembly" value="PR.Persistence.EntityFrameworkCore.Sqlite" />
		<!--<add key="RepositoryPluginAssembly" value="PR.Persistence.EntityFrameworkCore.PostgreSQL" />-->
		<!--<add key="RepositoryPluginAssembly" value="PR.Persistence.EntityFrameworkCore.SqlServer" />-->
		<!-- <add key="RepositoryPluginAssembly" value="PR.Persistence.APIClient" />
		<add key="BaseURL" value="http://localhost:5000/api" /> -->
		<!--<add key="RepositoryPluginAssembly" value="PR.Persistence.APIClient.DFOS" />
		<add key="BaseURL" value="http://dfos-api-prod.dmi.dk" />-->
	</appSettings>
</configuration>